.tab{
    padding-top: 1%;
    border: solid;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 20px;
}
.tab table tr td{
    font-size: x-large;
}
th, td
{
    padding: 10px;
}
input[type="text"]
{
    width: 200px;
    height: 40px;
}
hr.rounded {
    border-top: 4px solid rgb(50, 131, 158);
    border-radius: 5px;
    width: 150px;
  }
.button5{
    padding: 10px 45px;
    text-align: center;
    font-size: 15px;
    border: none;
    background-color: #81c8a4;
background-image: linear-gradient(315deg, #97f587 0%, #93e771 74%);
border-radius: 40px;
color: white;
}
.button5:hover{
    background: rgb(16, 93, 54);
}